@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400);

:root{
    --bg-green: #06C36F;
    --brand: #0B5021;
    --msg: #17893E;
    --dark-gray: hsl(0, 0%, 63%);
    --black: hsl(0, 0%, 0%);
    --white: hsl(0, 0%, 100%);
    --very-dark-gray: hsl(0, 0%, 27%);

}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-image: url(../assets/images/barcoContainers.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: -250px; 
    font-family: 'Lato', sans-serif;
}

main{
    height: 600px;
}

h2{
    color: #fff;
}

.general{
    margin:3rem auto;
    height: 420px;
    width: 600px;
    background-color: rgba(255,255,255,0.13);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: stretch;
}
.derec{
    margin-right: 50px;
}



.boton1{
    text-align: center;
    border-radius: 1rem;
    width: 230px;
    height: 60px;
    margin-top: 50px;
    background-color: #ffffff;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    border: none;
    color: #080710;
    display: flex;
    align-items: center;
    justify-content: center;
}


.general2{
    margin:3rem auto;
    height: 480px;
    width: 600px;
    background-color: rgba(255,255,255,0.13);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
    display: flex;
    flex-direction: column;
}

.boton1{
    border-radius: 1rem;
    width: 230px;
    height: 60px;
    /* margin-top: 20px; */
    background-color: #ffffff;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    border: none;
    
}

.boton1:hover{
    background-color: var(--bg-green);
    color: #fff;
}

.medio{
    margin-top: 40px;
    margin-bottom: 30px;
}

.general2 h2{
    margin-bottom: 30px;
}

.final{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.volver{
    margin-top: 0;
    margin-bottom: 10px;
}
.volver .volv{
    width: 230px;
    height: 60px;
}
.boton{
    border-radius: 50%;
}
.mostrar{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
.mostrar input{
    width: 95%;
    border-radius: 1rem 0 0 1rem;
}
.mostrar button{
    max-width: 50%;
    height: 37px;
    border-radius: 0 1rem 1rem 0;
    padding: 5px;
}
.mostrar button:hover{
    background-color:var(--bg-green);
}
button svg:hover{
    stroke: #fff;
}